{{- define "main" -}}
<main class="about__wrapper">
    <section class="about-section about-section--centered">
        <div class="about__content about__content--text-centered">
            <h2 class="about__title">Mission</h2>
            <div class="about__text about__text--mission">
                <p>{{ .Params.description }}</p>
            </div>
        </div>
    </section>
    <section class="about-section about-section--gray">
        <div class="about__image" style="background-image: url('/img/story-photo.jpg');"></div>
        <div class="about__content">
            <h2 class="about__title">Story</h2>
            <div class="about__text">
                <p>Our co-founders <a href="http://linkedin.com/in/dshanley">Dave (CEO)</a> and Shiv (CEO, <a href="https://www.howtosaas.com/">How to Saas</a>) met in 2017 when Shiv interviewed Dave, then a CEO of a data and analytics product, for the How to Saas podcast. The two immediately clicked and kept sharing go to market stories back and forth over the next couple of years as Dave sold his company and Shiv exited his CMO role after building a successful content-led growth engine.</p>
                <br>
                <p>The product of those marketing and sales conversations is Content Camel -- A different way of solving the pain points that Marketing and Sales teams have (content that's not fully used, launches that go thud, miscommunication with Sales, can't find what content exists, not sure of what's up to date, and no good way to communicate what's working).</p>
                <p>Today, Dave leads growth and product for Content Camel and Shiv offers growth marketing services via his consultancy, How to Saas</p>
                <p class="link-text">> <a href="/blog">Read more on our blog</a></p>
            </div>
        </div>
    </section>
    <section class="about-section about-section--white">
        <div class="about__content">
            <h2 class="about__title">Location</h2>
            <div class="about__text">
                <p>We’re founded and based in Portland, Oregon. We are a fully remote team that spans borders and brings all the hustle, scrappiness, and experience that the best of the West Coast + the world offers.</p>
            </div>
        </div>
        <div class="about__image" style="background-image: url('/img/story-portland.jpg');"></div>
    </section>
    <section class="about-section about-section--gray">
            <div class="about__image" style="background-image: url('/img/team-photo.jpg');"></div>
        <div class="about__content">
            <h2 class="about__title">Team</h2>
            <div class="about__text">
                <p>We’re a small group of international, experienced, passionate, dedicated and friendly people who love to build applications that support teams working better together. We rely on our team's diverse experience and perspectives to tackle hard problems make every day better than the last.</p>
                <p class="link-text">> <a href="/careers">Want to join our team?</a></p>
            </div>
        </div>
    </section>
</main>
{{- end -}}
