<div class="plan">
  <span class="plan--title">{{ .title }}</span>
  <div class="plan--cost">
    <div class="plan--amount">
      {{ if eq .title "Team"}}<span class="currency">$</span>{{ end }}
      <span class="price">{{ .priceMonthly }}</span>
    </div>
    {{ if eq .title "Team" }}
    <span class="price-note">
      <!-- {{ if eq .title "Starter" }}Per user{{ end }}
      {{ if eq .title "Pro" }}Per user{{ end }} -->
       / user / month
    </span>
    {{ end }}
  </div>
  <p class="plan--description">{{ .description }}</p>
</div>
