<section class="section section-cta center" id="footer-cta">
  <div class="container">
    <h2 class="section--title">{{ .headline | default "Want to hear it first?" }}</h2>
    <p class="section--sub is-center">{{ .textline | default "Subscribe to our newsletter to get the posts directly in your inbox as they get posted." }}</p>
    <br><br>
    {{- with .ctas -}}
      {{- range . -}}
      <a href="{{ .RelPermalink }}"{{ if .button }} class="button primary big"{{ end }}>{{ .textline }}</a>
      {{- end -}}
    {{- else -}}
    
    <form action="https://formspree.io/xoqkplkr" method="POST" class="form--large form--stacked" data-message="Thanks for joining! We will shoot you the next issue when we publish it.">
      <input type="email" name="email" placeholder="Email" required>
      <button type="submit" name="submit" class="button primary">Subscribe</button>
    </form>
    {{- end -}}
  </div>
</section>
