{{- if and .headline .textline -}}
  <section id="{{- .headline | urlize -}}" class="section{{ with .class }} {{ . }}{{- end -}}{{ if or (eq .direction "vertical") (eq .direction "tab") }} center{{ end }}">
    <div class="container">
      <div class="feature-block {{ .direction | default "ltr" }}">
        <div class="feature-block--copy">
          <h2 class="section--title" style='{{- if eq .direction "tab" -}}max-width:520px;{{- end -}}'>{{ markdownify .headline }}</h2>
          <div class="section--sub{{ if or (eq .direction "vertical") (eq .direction "tab") }} is-center{{ end }}">
            {{ markdownify .textline }}
            <br /><br />
            <br /><br />
            <div class="hero-cta">
                <a href="https://app.contentcamel.io/signup" class="button primary">Try for free</a>
                &nbsp;<a href="https://cal.mixmax.com/shanley/cc30">Schedule a demo</a>
            </div>
          </div>
        </div> 
        {{- with .visual -}}
        <div class="feature-block--illu illu-shadow--right">
          {{- partial "cloudinary/image" (dict "pg" $.pg "preset" "feature" "image" .permalink "alt" (.alt | default .permalink)) }}
        </div>
        {{- end -}}
        <div class="feature-block--illu illu-shadow--right">
            <div style="display: flex;"><div style="text-align: right;padding: 0 40px;"><h1>1.</h1></div><div><h3>Add and import content</h3><p>We make it easy to add or link to your existing marketing and sales collateral.</p></div></div>
            <div style="max-width:460px;margin:auto;"><hr /></div>
            <div style="display: flex;"><div style="text-align: right;padding: 0 40px;"><h1>2.</h1></div><div><h3>Invite admins and users</h3><p>Invite marketers, product marketers, sales enablement admins, and sales reps and control access levels, or just get started on your own.</p></div></div>
            <div style="max-width:460px;margin:auto;"><hr /></div>
            <div style="display: flex;"><div style="text-align: right;padding: 0 40px;"><h1>3.</h1></div><div><h3>Install the Chrome Extension</h3><p>Add the <a href="https://chrome.google.com/webstore/detail/content-camel/llndpccggnfkjhcbbafmdmkjndheclja?hl=en&gl=US">Content Camel Chrome Extension</a>, the fastest way to have access to your content wherever you are working.</p></div></div>
            
        </div>
      </div>
    </div>
  </section>
{{- end -}}