{{- define "main" -}}
<main class="careers__wrapper single-post">
  <section class="careers-section">
    <div class="container">
      <h1><strong>Work with us</strong></h1>
      <div>
        <p class="big">At Content Camel, we’re helping companies of all sizes achieve the impact they imagine. <a href="/about">We’re a young company</a> with a big vision and tons of opportunities for you to have an impact and grow with us.</p>
      </div>
    </div>
  </section>

  <section class="careers-section">
    <div class="container">
      <h2>Who We Are</h2>
      <p class="big">We’re a small group of international, experienced, passionate, dedicated and friendly people who love to build applications that support teams working better together.</p>
      <p>We rely on our team's diverse experience and perspectives to tackle hard problems make every day better than the last. We’re founded and headquartered in Portland, Oregon</a> but all of our staff working remotely.</p>
      <a href="/job-openings" class="button primary" data-proofer-ignore="">Join Our Team</a>
    </div>
  </section>

  <section class="careers-section">
    <div class="container">
      <h2>Who You Are</h2>
      <p class="big">We take our time hiring -- it's all about intentional growth of our team. We invest in people and are looking for co-workers interested in the long term journey. 
      <br/><br/>
      Does this describe you?:</p>
      <div class="careers-columns">
      
        <div>
          <h3>Positive and Respectful</h3>
          <p>You can uplift your team even when things are tough. You assume the best of others and always treats everyone with respect.</p>
        </div>

        <div>
          <h3>Accountable Team Players</h3>
          <p>You consider others first and measure success at the team level. You believe in mutual accountability. You communicate freely, openly and honestly. You are interested in leading in every role, regardless of title.</p>
        </div>

        <div>
          <h3>Proactive and Driven</h3>
          <p>You don't wait for things to come to you -- you take the initiative. You proactively identify problems and offers solutions.</p>
        </div>

        <div>
          <h3>Dedicated to Your Craft</h3>
          <p>You love what you do and strive to master the skills at the core of what makes what you do great. You are continuously learning. You understand that constructive feedback is necessary in order to grow.</p>
        </div>

        <div>
          <h3>Curious Problem Solvers</h3>
          <p>You're willing to wrestle with hard questions and don’t settle for shallow answers. You look at things from a fresh perspective. You seek to understand the "why."</p>
        </div>

        <div>
          <h3>Comfortable With Ambiguity</h3>
          <p>You are OK with navigating uncharted territory. You can explain the pros and cons of various approaches, be decisive and move forward in the midst of uncertainty. You seek to bring clarity to ambiguity, but know that you can't control everything.</p>
        </div>

        <div>
          <h3>Impact Maximizers</h3>
          <p>Your have a bias toward action. You can focus, act, and be great to work with all at the same time. You understand the power of helping others and the lasting difference that can make.</p>
        </div>

      </div>
    </div>
  </section>

  <section class="careers-section">
    <div class="container">
      <h2>How We Hire</h2>
      <div>
        <p class="big">Our hiring process involves a few streamlined, well-defined steps, the first being an introductory chat to gauge mutual interest and gain clarity into each other’s needs and expectations.</p>
        <p>If it feels like a good fit, we’ll set up time to go over the work you'll be doing and try out some related exercercises to understand the fit better.</p>
        <p>After getting to know you better, we'll pull in various team members with the goal of examining the depth and breadth of your skill set. We like to think about your skills and areas for potential growth both in the context of the role and in the broader context of our company as a whole. In the last step, we’ll have the hiring team make a decision before extending an offer.</p>
      </div>
    </div>
  </section>

  <section class="careers-section">
    <div class="container">
      <h2>What to Expect</h2>
      <div class="careers-columns">
        <div>
          <h3>Remote first</h3>
          <p>Now more than ever, this is a priority. We want you to do great work, and have a fulfilling life outside of work, so we’re advocates of remote-working. This allows us to hire great talent from anywhere, and allows you to live the kind of life you want, where you want. We do prioritize candidates that aren't more than +/- 3 hours from the Pacific Timezone.</p>
        </div>

        <div>
          <h3>Competitive salaries, based on location</h3>
          <p>We calculate our salaries based on job level and the region where you live, so we are able to provide competitive salaries regardless of where you’re working from.</p>
        </div>

        <div>
          <h3>Flexible work hours</h3>
          <p>We’re a distributed team, and we don’t have a set schedule that everyone abides by. People typically work during the common daylight hours in their timezone, but may shift a couple hours in one direction or another to overlap better with specific team members or meetings, depending on what they’re working on.</p>
        </div>

        <div>
          <h3>Work at a sustainable pace</h3>
          <p>We are intentional-growth startup. We value rest & life outside of work. If you happen to be working a lot of overtime to meet a deadline, expect to take some extra time off shortly after. Balance is critical.</p>
        </div>

        <div>
          <h3>Returns instead of stock options</h3>
          <p>We're investing in the team for the long run, and we think the current equity/stock options system for startups is broken. We've chosen an upside approach that's transparent and returns a lot to employees as we succeed in meeting our potential.</p>
        </div>
                
      </div>
    </div>
  </section>

  <section class="careers-section center">
    <h2>Interested?</h2>
    <p>
      <a href="/job-openings" class="button primary" data-proofer-ignore="">View Our Current Job Openings</a>
    </p>
  </section>

</main>
{{- end -}}
